table {
   font-size: 0.8em;
   font-family: Arial, Helvetica, sans-serif;
   border-collapse: collapse;
   border-top: 4px solid #DCA806;
   border-bottom: 1px solid white;
   text-align: left;   
}
caption {
   font-weight: bold;
   padding: 3px 0 4px 0;
   text-align: left;
   text-transform: uppercase;
   border-top: 1px solid #DCA806;
}


thead tr {
   background-color: #CACACA;
}
th {
   padding: 0.75em;
}

tbody tr {
   background-color: white;
   border-bottom: 1px solid white;
   color: #6E6E6E;
}
tbody td {
   padding: 0.75em;
}

tbody tr:nth-child(even) {
   background-color: lightgray;
}

tbody tr:hover {
   background-color: #9e9e9e;
   color: black;
}



